<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="phone">
      <header>
        <h1>NetPet</h1>
        <input type="text" placeholder="What are you looking for? " />
      </header>
      <main>
        <div class="info">
          <h2>Popular</h2>
          <h3>Show all</h3>
        </div>
        <section class="popular">
          <div class="card">
            <span>Care tips</span>
            <p>14 articles</p>
          </div>
          <div class="card">
            <span>Medical advices</span>
            <p>6 articles</p>
          </div>
          <div class="card">
            <span>Dog shows awards</span>
            <p>6 articles</p>
          </div>
          <div class="card">
            <span>Dog ID</span>
            <p>14 articles</p>
          </div>
          <div class="card">
            <span>Find my dog</span>
            <p>6 articles</p>
          </div>
          <div class="card">
            <span>Dog Diet</span>
            <p>6 articles</p>
          </div>
        </section>
      </main>
      <footer>
        <img
          src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png"
          alt=""
          class="user"
        />
        <img
          src="https://www.iconpacks.net/icons/2/free-settings-icon-3110-thumb.png"
          alt=""
          class="settings"
        />
      </footer>
    </div>
  </body>
</html>
