@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 5rem;
}

.content {
  margin: 1.5rem 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

article {
  padding: 1rem;
  border-radius: 10px;
  background: white;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.15);
}

article img {
  border-radius: 6px;
}

.Error404 {
  margin: 0 auto;
  font-size: 3rem;
}